<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <spring>
    <context>
      <resource uri="config://spring/objects" />
    </context>
    
    <objects xmlns="http://www.springframework.net">
      <object id="PropUtil" type="FrontFramework.Utils.XmlBasedPropUtil, FrontFramework"/>
      <object id="DocHelper" type="FrontFramework.Help.DocHelper, FrontFramework">
        <property name="helperFilePathName" value="documents\\HowTo"/>
      </object>
      <object id="OnlineHelper" type="FrontFramework.Help.OnlineHelper, FrontFramework">
        <property name="helperUrl" value="https://www.baidu.com/"/>
      </object>
    </objects>
  </spring>
  
</configuration>